@page "/controller1"


<PageTitle>Controller!</PageTitle>

<h1>This is the first controller</h1>

<p role="status">Button Clicks: @currentCount</p>

<button class="btn btn-primary" @onclick="TurnOff">Turn Off</button>
<button class="btn btn-primary" @onclick="TurnOn">Turn On</button>
<button class="btn btn-primary" @onclick="Effect">Effect Up</button>

